﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BonusAssignment_BinitaPatel_n01283919._Default" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="Content1" runat="server">

    <div class="jumbotron">
        <h1>BONUS ASSIGNEMENT</h1>

        <p><%--<a href="http://www.asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>--%></p>
    </div>

    

</asp:Content>
